<div class="row">
  <div class="col">
    <% if user_signed_in? %>
      <% @applications.each do |application| %>
        <div class="card">
          <div class="card-body">
            <%= application.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
