<div class="d-flex justify-content-center">
  <div class="col col-lg-5 alert alert-success">
    <p><%= I18n.t("doorkeeper.flash.device_codes.authorize.success") %></p>
    <p class="mb-0"><%= I18n.t("doorkeeper.flash.device_codes.authorize.can_close_page") %></p>
  </div>
</div>