// Config file
@font-face
  font-family: "SourceSerif4"
  src: url("SourceSerif4_18pt-Regular.ttf") format("truetype")

$serif-font: "SourceSerif4"

$main-color: #f25d27
$secondary-color: #592b20
$pastel-bg-color: #f4ecd8
$dark-green-color: #1e3428
