<div class="row">
  <% flash.each do |key, message| %>
    <% if message.empty? %>
      <div class="col">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
              <i class="bi bi-remove"></i>
            </span>
          </button>
        </div>
      </div>
    <% end %>
  <% end %>
</div>