<p>Bonjour <%= @resource.firstname %>,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous envoyons cet email pour vous informer qu'une modification de votre email est demandée pour <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous envoyons cet email pour vous informer que votre email a été changé pour <%= @resource.email %>.</p>
<% end %>
