<p>Bonjour <%= @resource.firstname %>,</p>

<p>Une instruction de modification de mot de passe a été demandée pour votre compte.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'en êtes pas à l'origine, merci d'ignorer cet email.</p>
<p>Votre mot de passe ne sera pas modifié tant que la procédure en lien dans cet email ne sera pas effectuée.</p>
