<p>Bonjour <%= @resource.firstname %>,</p>

<p>Votre compte a été verrouillé à cause d'une tentative de connexion excessive.</p>

<p>Cliquez sur le lien ci-dessous pour le déverrouiller :</p>

<p><%= link_to 'Déverrouiller mon compte', unlock_url(@resource, unlock_token: @token) %></p>
